#showtime, #ageInput {
  display: none;
  margin: 15px 0;
}

#showtime button {
  margin: 20px 20px 0 0;
}

#ticket-button {
  margin-top: 15px;
  margin-left: 15px;
}
.btn-info {
  background-color: #719CA1;
}
.btn-info:hover {
  background-color: #36646E;
}

.btn-danger, .btn-danger:hover {
  background-color: #CD5c5c;
}

.selected {
  background-color: #922332;
}

.selected-movie {
  background-color: #36646E;
}

body {
  background-image: url('../img/footer_lodyas.png');
}

.container {
  background: white;
  padding: 20px;
}

.jumbotron {
  background-image: url('../img/zig-zag-wool.png');
  text-align: center;
  color:white;
}

img {
  max-width: 100%;
}

.banner {
  margin-bottom: 2rem;
}

.ticket-price {
  margin-top: 15px;
}
